body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #004D3F;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: #fff; /* Set the link color to white */
    text-decoration: none; /* Remove underline */
}

nav a:hover {
    text-decoration: underline; /* Add underline on hover if needed */
}

nav a.active {
    text-decoration: underline; /* Style for the active link */
}

h1 {
  color: maroon;
  padding-top: 60px;
}

h2 {
  color: maroon;
}

h3 {
  color: #004D3F;
}

#intro {
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

#challenges, #userinfo {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  text-align: left;
}

 #challenges ul {
        list-style-type: none;
        padding: 0;
    }

    #challenges li {
        margin-bottom: 15px; /* Adjust this value to increase or decrease the spacing */
    }

#dummyForm {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 12px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.personal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to wrap if there's not enough space */
}

.personal label {
    margin-bottom: 12px;
   width: 48%; 
}

.personal input {
    margin-top: 12px;
     width: 100%;
    box-sizing: border-box; /* Include padding and border in the width */
}

.form-group {
  margin-bottom: 12px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
  margin-right: 30px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 20px;
}

.checkbox-group label {
  margin-right: 30px;
}

input[type="submit"] {
  background-color: #004D3F;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #DD9F5F;
  color: #004D3F;
}

.note {
    color: red;
}

footer {
    padding: 10px;
    text-align: center;
}